
<h3>Sua cédula auditada</h3>

<p>
<b><u>IMPORTANTE</u></b>: esta cédula, após auditada, <em>não será apurada</em>.<br />
Para registrar uma cédula, você deve clicar em "Voltar à votação" abaixo, criptografá-la novamente e escolher "enviar" em vez de "auditar".
</p>

<p>
<b>Por quê?</b> O Helios impede que você audite e envie a mesma cédula para oferecer proteção contra coerção.
</p>

<p>
<b>E agora?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecione as informações de auditoria da sua cédula</a>, copie-as para a área de transferência e use o <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de cédula</a> para conferi-las.<br />
Quando estiver satisfeito, clique em "voltar à votação" para recriptografar e enviar sua cédula.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de voltar à votação,<br />
você pode publicar esta cédula auditada no centro de rastreamento do Helios para que outros possam conferir a verificação.
<br /><br />
<b>Mesmo publicando sua cédula auditada, você deve voltar à votação e escolher "enviar" se quiser que seu voto conte.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">voltar à votação</button>
 &nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">publicar cédula auditada no centro de rastreamento</button>

</form>



