{% extends TEMPLATE_BASE %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} &mdash; Seguir no Twitter?</h2>
{% endblock %}


{% block content %}

<div style="font-size: 1.2em;">
Recomendamos que você siga <b>@{{user_to_follow}}</b>.<br /><br />
Dessa forma, {{reason_to_follow}}. Não vamos abusar dessa proximidade: apenas mensagens pertinentes serão enviadas diretamente e as atualizações gerais são esporádicas.
</div>
<br /><br />
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<span style="font-size: 1.3em;">
<input type="checkbox" name="follow_p" value="1" checked>
seguir @{{user_to_follow}}
<br /><br />
<input type="submit" value="continuar" />
</span>
</form>

{% endblock %}
