{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Sobre o Helios Voting</h2></div>

<div class="row">
<p>O Helios é uma organização apartidária liderada por <a href="http://ben.adida.net">Ben Adida</a>.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<h5>Colaboradores de código</h5>

Ben Adida, Olivier de Marneffe, Olivier Pereira
</div>
<div class="row">&nbsp;</div>
<div class="row">
<h5>Conselheiros</h5>
</div>

<div class="row"><h6 class="subheader">Jim Adler</h6>
<p>
Jim é executivo, empreendedor e referência em big data, privacidade,
segurança e sistemas de votação. Fundou empresas, definiu visão e
estratégia, liderou equipes, desenvolveu tecnologia e produtos.
</p>
<p>
Atualmente, Jim é vice-presidente de Produtos na Metanautix, uma startup
de análise de big data. Ele também atua no Departamento de Segurança
Interna (DHS) no Data Privacy and Integrity Advisory Committee (DPIAC),
prestando consultoria a pedido do Secretário de Segurança Interna e do
Chief Privacy Officer do DHS. [<a href="http://jimadler.me/about">mais</a>]
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Lawrence Lessig</h6>
<p>
Lawrence Lessig é diretor do Edmond J. Safra Foundation Center for Ethics da Universidade de Harvard e professor de Direito na Harvard Law School. Durante grande parte da carreira acadêmica, Lessig focou em direito e tecnologia, especialmente no impacto sobre direitos autorais. Seu trabalho atual trata da “corrupção institucional” — em linhas gerais, influências dentro de uma economia de influência que enfraquecem a efetividade de uma instituição ou a confiança pública. No EJ Safra Lab, ele supervisiona um projeto de pesquisa de 5 anos sobre corrupção institucional em diversos contextos. [<a href="http://www.lessig.org/info/bio/">mais</a>]
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Josh Benaloh</h6>
<p>
O Dr. Benaloh é criptógrafo sênior na Microsoft Research e diretor eleito da International Association for Cryptologic Research. Concluiu seu S.B. no MIT e os títulos de M.S., M.Phil. e Ph.D. em Yale. Em sua tese de doutorado de 1987, “Verifiable Secret-Ballot Elections”, introduziu o uso de criptografia homomórfica para habilitar tecnologias de eleição verificáveis de ponta a ponta. As diversas publicações do Dr. Benaloh em criptografia e votação inauguraram novas tecnologias, incluindo o paradigma “enviar ou cancelar”, que envolve o eleitor na verificação com o mínimo de esforço. Ele atuou nos comitês de programa de dezenas de conferências e workshops de criptografia e votação e é palestrante frequente sobre a história, evolução e mecanismos da votação verificável.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Andy Neff</h6>
<p>
O Dr. Neff é autor de contribuições inovadoras ao estudo de algoritmos de computação, especialmente aplicados a protocolos de votação. Na VoteHere, onde foi CTO, criou a primeira técnica de mistura e anonimização de cédulas eficiente o bastante para uso prático, desenvolveu uma nova representação de cédula que permite uma redução de tamanho mantendo a privacidade e liderou a visão técnica do produto de eleição VoteHere. O Dr. Neff participa regularmente dos comitês de programa das principais conferências de votação e possui PhD em Matemática pela Universidade de Princeton.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Olivier Pereira</h6>
<p>
Olivier Pereira é pesquisador associado da fundação científica belga F.R.S.-FNRS e professor associado na Université catholique de Louvain. Seus interesses de pesquisa estão em criptografia e computação distribuída, abordando como permitir que pessoas executem tarefas em conjunto de forma segura. Ele liderou o desenvolvimento, integração e implantação do Helios em várias eleições de grande porte, e fez apresentações e palestras sobre eleições verificáveis em dezenas de instituições de destaque ao redor do mundo. É coautor do estudo Bevoting sobre sistemas de votação eletrônica produzido para as administrações federais e regionais da Bélgica.
</p>
</div>

<div class="row"><h6 class="subheader">Dan Wallach</h6>
<p>
Dan Wallach é professor associado do Departamento de Ciência da Computação da Rice University, em Houston, Texas, e diretor do ACCURATE (A Center for Correct, Usable, Reliable, Auditable and Transparent Elections) financiado pela NSF. Sua pesquisa envolve segurança de computadores e os desafios de construir sistemas de software seguros e robustos para a Internet. Ele já prestou depoimentos sobre segurança de votação a órgãos governamentais nos EUA, México e União Europeia, atuou como perito em diversos processos sobre tecnologia de votação e participou da auditoria “top-to-bottom” dos sistemas de votação da Califórnia.
</p>
</div>

</div>


{% endblock %}
