{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>FAQ</h2></div>

<div class="row">
<b>O que torna o Helios diferente/melhor do que outros sistemas de votação?</b>

<p>O Helios é verdadeiramente verificável. Cada eleitor obtém um rastreador de cédula que pode ser conferido no Centro de Rastreamento de Cédulas para garantir que a cédula foi recebida e apurada corretamente. Isso significa que ninguém, nem mesmo os administradores do sistema Helios Voting, pode alterar seu voto.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Já ouvi falar de sistemas “verificáveis pelo eleitor”; o que há de diferente no Helios?</b>
<p>Muitos sistemas de votação afirmam ser verificáveis pelo eleitor. Acreditamos que essa verificabilidade é crucial e apoiamos outros esforços que melhoram as máquinas usadas em eleições para cargos públicos. Porém, entendemos que é necessária uma verificabilidade mais extensa, na qual o eleitor possa garantir que o processo de apuração, e não apenas o registro de sua cédula, foi feito corretamente. Chamamos isso de “verificabilidade real”. Outros chamam de “verificabilidade ponta a ponta” ou “auditoria aberta”.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Quão secreto é meu voto no Helios?</b>
<p>O Helios protege cuidadosamente o sigilo do seu voto. Ele é criptografado no seu navegador antes mesmo de ser enviado ao servidor. Mesmo em navegadores antigos, seu voto é criptografado antes de você entrar no Helios. Em todos os casos, o voto fica armazenado no banco de dados apenas de forma criptografada. O Helios usa técnicas criptográficas avançadas para combinar todos os votos criptografados em uma apuração também criptografada, e somente essa apuração é descriptografada. Isso significa que sua cédula nunca é aberta individualmente. Para maximizar a privacidade, o Helios permite que os administradores designem vários responsáveis (trustees). Todos eles devem participar da descriptografia, garantindo ainda mais que apenas a apuração, e nunca os votos individuais, seja aberta.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>O que há de tão especial no rastreador de cédula do Helios?</b>
<p>Um número de rastreamento comum, como em uma entrega de pacote, é basicamente aleatório: ele apenas identifica o pacote. É possível que o pacote chegue com o número intacto, mas com o conteúdo destruído. No mundo digital, conseguimos gerar um tipo especial de número de rastreamento que está longe de ser aleatório: é uma impressão digital da criptografia do seu voto. Assim, se o seu rastreador chega até a apuração, você sabe que sua cédula entrou na conta e que não foi adulterada no caminho.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>O Helios é o único sistema que oferece esse nível de verificabilidade?</b>
  <p>Não, há outros sistemas. <a href="http://scantegrity.com">Scantegrity</a>, Prêt à Voter, <a href="https://www.usenix.org/conference/evtwote13/workshop-program/presentation/bell">STARVote</a>, Wombat Voting, todos oferecem verificabilidade real em sistemas baseados em papel. Gostamos desses sistemas e das pessoas por trás deles. A VoteHere, empresa que já encerrou atividades, também foi pioneira nessa área. O Helios reúne várias inovações focadas em trazer verificabilidade real para eleições online e permitir que todos experimentem essa tecnologia inovadora. Mas não somos os únicos nesse campo.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<b>Devemos começar a usar o Helios em eleições para cargos públicos? Quem sabe para presidente dos EUA em 2016?</b>
<p>Não, não recomendamos. Eleições online são adequadas quando não se espera uma grande tentativa de fraude ou coerção. Em algumas eleições, especialmente federais e estaduais nos EUA, o risco é alto demais e não sugerimos coletar votos pela Internet. Isso não tem relação com o Helios em si: simplesmente não confiamos que os computadores domésticos sejam seguros o bastante para resistir a ataques significativos.</p>

<p>Se quiser usar um sistema realmente verificável em uma eleição pública, recomendamos uma eleição presencial. O Helios poderia ser adaptado para votação presencial em seções eleitorais, mas ainda não desenvolvemos esse trabalho e pretendemos focar primeiro em eleições online.</p>
</div>


</div>


{% endblock %}
