{% extends TEMPLATE_BASE %}

{% block content %}
<h1>Por que precisamos das suas informações</h1>

<p>
Parece que você recusou a nos conceder permissão para acessar suas informações.
Entendemos e valorizamos sua privacidade. Solicitamos esses dados para poder
contatar você com seu número de rastreamento de voto e quando uma eleição em
que participou tiver sido apurada. Prometemos não usar essas informações para
nenhum outro propósito. Sem elas, infelizmente não conseguimos ajudar você a votar.
</p>

<form method="POST" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="OK, entendi, vamos fazer o login." /><br /><br />
<a href="http://google.com">não, me tire daqui</a>.
</form>

{% endblock %}
