{% extends TEMPLATE_BASE %}

{% block content %}

  <h2 class="title">Eleição {{election.name}} ainda não aberta</h2>

  <p>
      Esta eleição ainda não está aberta.
  </p>
  
  <p>
      {% if election.voting_start_at %}Início da votação em {{election.voting_start_at}}<br />{% endif %}
      {% if election.voting_end_at %}Fim da votação em {{election.voting_end_at}}<br />{% endif %}  
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
  </p>
{% endblock %}
