{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Fechar cédula</h2>
<p>
Depois que uma eleição é fechada, as perguntas, opções e responsáveis não podem mais ser alterados.<br />
</p>

<p>
{% if election.openreg %}
O registro para sua eleição está atualmente <b>aberto</b>, o que significa que qualquer pessoa pode votar, mesmo depois de você fechar a cédula.
{% else %}
O registro para sua eleição está atualmente <b>fechado</b>, o que significa que apenas os eleitores que você designar poderão enviar uma cédula. Como administrador, você ainda poderá modificar essa lista de eleitores enquanto a eleição estiver em andamento.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Você deve fechar a cédula antes de entrar em contato com os eleitores.
</p>
{% endif %}

{% if issues_p %}
<p>
    Antes de fechar a eleição, você precisará:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Fechar a cédula" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">NÃO fechar agora</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
