{% extends TEMPLATE_BASE %}

{% block title %}Cookies são obrigatórios para usar o Helios{% endblock %}

{% block content %}
  <h2 class="title">Cookies são obrigatórios para o Helios</h2>

<p>
Parece que seu navegador não aceita cookies ou está configurado para bloqueá-los neste site. O Helios precisa definir um cookie de sessão para salvar seu voto, permitir seu login etc. Habilite os cookies e então <a href="{{retest_url}}">prossiga para preparar sua cédula</a>
</p>
<p>
Se continuar sendo trazido de volta a esta página, provavelmente é porque os cookies não foram ativados corretamente.
</p>
{% endblock %}
